
header{
    width: 7.5rem;
    height: 1.26rem;
    background-color: #fbfeff;
    box-shadow: 0 0.03rem 0.43rem 0 rgba(41, 167, 255, 0.13);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}
.banner{
    margin-top: 1.26rem;;
    padding: 1.7rem 0 1.69rem;
}
.banner img{
    display: block;
    width: 3.01rem;
    height: 3.62rem;

    margin: 0 auto;
}
.TexT{
    position: relative;
    padding: 0 0.24rem;
    margin-bottom: 0.18rem;
}
.TexT h2{

    font-size: 0.3rem;
    letter-spacing: 1px;
    color: rgba(0,0,0,0.6);
}
.TexT p{
    font-size: 0.22rem;
    color: rgba(0,0,0,0.3);

}

.TexT .colorF{
    margin-top: 0.17rem;
    margin-bottom: 0.17rem;
    font-size: 26rem;
    display: flex;
    color: #fbb548;
    align-items: center;
}
.TexT .Dj{
    width: 0.78rem;
    height: 0.36rem;
    margin-left: 0.23rem;
    margin-right: 0.3rem;
    background-color: rgba(65,178,252,0.4);
    font-size: 0.2rem;
    border-radius: 0.18rem;
    color: #41b2fc;
    line-height: 0.36rem;
    text-align: center;
    /*opacity: 0.1;*/

}
.TexT .Sm{
    width: 1.13rem;
    height: 0.36rem;
    background-color: rgba(54,214,129,0.4);
    font-size: 0.2rem;
    border-radius: 0.18rem;
    color: #36d681;;
    line-height: 0.36rem;
    text-align: center;

}
.TexT .Ys{
    display: flex;
    position: absolute;
    align-items: center;
    right: 0.24rem;
    height:0.36rem ;
}
.TexT .Ys .yuan{
    width: 0.05rem;
    height: 0.05rem;
    background-color: #36d681;
    box-shadow: 0px 2px 5px 0px
    rgba(54, 214, 129, 0.43);
    border-radius: 0.03rem;
}
.TexT .Ys .text{


    margin-left: 0.09rem;
    margin-right: 0.09rem;
    font-size: 0.2rem;

    letter-spacing: 1px;
    color: rgba(0,0,0,0.3);

}
.TexT .Ys span{
    width: 0.39rem;

    font-size: 0.24rem;
    color: #36a8fe;
}
.line{

    width: 7.02rem;
    margin: 0rem   auto;

    height: 0.01rem;
    background-color: #d8dfe3;
    opacity: 0.3;
}

.YH{
    padding: 0.22rem 0.24rem;
    display: flex;
    align-items: center;

}
.YH .icon{
    padding-top: 0.02rem;
    width: 0.49rem;
    height: 0.28rem;
}
.YH .icon img{

    display: block;
    width: 100%;
    height: 100%;
}
.YH .text{
    font-size: 0.24rem;
    color: #ff844e;
    margin: 0 0.08rem;
}
.YH .text1 {
    width: 1.84rem;
    height: 0.39rem;
    background-image: linear-gradient(to right,#ffca3b 0%,#ff933b 100%);
    box-shadow: 0 0.04rem 0.16rem 0 rgba(255,142,81,0.3);
    line-height: 0.39rem;
    text-align: center;
    color: white;
    font-size: 0.24rem;
    border-radius: 20px;

}
.text3B .box1{
    display: flex;
    align-items: center;
}
.text3B{
    display: flex;
    padding: 0.26rem 0.24rem;
}
.text3B .box1{
    margin-right: 0.6rem;
}
.text3B .box1 .yuan{
    margin-right: 0.11rem;
    width: 0.05rem;
    height: 0.05rem;
    background-color: #36d681;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(54, 214, 129, 0.43);
    border-radius: 0.03rem;
}
.text3B .box1 h4{


    font-size: 0.24rem;
    color: #41b2fc;
}

.user{
    padding: 0.22rem 0.24rem;

}
.user .title1{
    display: flex;
    align-items: center;
    position: relative;
}
.user .title1 .icon{
    width: 0.1rem;
    height: 0.05rem;
    background-color: #44b5ff;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(68, 181, 255, 0.43);
    border-radius: 0.03rem;
}

.user .title1 .usersp{

    font-size: 0.32rem;
    line-height: 0.4rem;

    color: rgba(0,0,0,0.8);
}
.user .title1 .usersp span{
    line-height: 0.4rem;
    font-size: 0.32rem;
    color: #41b2fc;


}
.user .title1 .look{
    position: absolute;
    right: 0.24rem;
    font-size: 0.22rem;
    line-height: 0.4rem;

    color: #41b2fc;
}

.users{
    padding: 0 0.24rem;


}
.users li{
    display: flex;
}
.users .img{
    width: 0.85rem;
    height: 0.85rem;


}
.users .img img{
    display: block;
    width: 100%;
}
.users .text{
    width: calc(100% -  0.85rem);
    padding-left: 0.24rem;
}
.users .text .title{
    display: flex;
    width:100%;

    align-items: center;
    position: relative;


}
.users .text .username{

    font-size: 0.2rem;
    color: #cfcfcf;
}
.users .text .fiveX{
    width: 1.07rem;
    height: 0.1rem;
    background: red;
    margin-left: 0.5rem;

}
.users .text .time{
    font-size: 0.22rem;
    color: #9ed5ff;
    position: absolute;
    right: 0;
}
.users .texts h5{
    font-size: 0.26rem;
    color: rgba(0,0,0,0.6);
    margin-top: 0.23rem;

}
.users .texts h6{
    font-size: 0.22rem;
    color: rgba(0,0,0,0.3);
    margin-top: 0.18rem;


}
.userpush{
    padding: 0 0.24rem;
    padding-bottom: 1.3rem;
}
.userpush ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.userpush ul li{
    margin-top: 0.47rem;

    width: 30%;


}

.userpush ul li img{
    display: block;
    width: 1.31rem;
    height: 1.37rem;
    margin: 0 auto;
    margin-bottom: 0.37rem;
}
.userpush ul li h4{
    font-size: 0.26rem;
    color: rgba(0,0,0,0.6);

    
}
.userpush ul li p{
    margin-top: 0.19rem;
    font-size: 0.28rem;
    color: #fbb548;
}

.bottom{
    width: 7.5rem;
    height: 1.08rem;
    background-color: #f1faff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}
.bottom .boxD img{
   display: block;
    width: 0.5rem;
}
.bottom .boxD .text{
    font-size: 0.2rem;
    color: rgba(59,172,254,0.6);
    text-align: center;

}
.bottom .boxD .text1{
    font-size: 0.2rem;
    color: rgba(46,217,119,0.6);
    text-align: center;

}
.bottom .btn{
    width: 1.96rem;
    height: 0.60rem;
    background-image: linear-gradient(to right,#37e06f 0%,#31d69a 100%);
    box-shadow: 0 0.04rem 0.2rem 0 rgba(55, 223, 116, 0.75);
    border-radius: 30px;
    color: white;
    font-size: 0.24rem;
    text-align: center;
    line-height: 0.6rem;
}
.bottom .btn1{
    width: 1.96rem;
    height: 0.60rem;
    border-radius: 30px;
    color: white;
    font-size: 0.24rem;
    text-align: center;
    line-height: 0.6rem;
    background-color: #3bacfe;
    box-shadow: 0rem 0.05rem 0.12rem 0rem  rgba(59, 172, 254, 0.43);
}