.header {
    height: 1rem;
    background-color: #fbfeff;
    padding-top: 0.25rem;
    padding-left: 0.24rem;
    padding-right: 0.24rem;
    position: fixed;
    top: 0;
    width: 7.5rem;
}
.header .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .top .back{
    width: 0.25rem;
    height: 0.42rem;
    background-image: url("../img/left.png");
    background-position: center;
    background-size: cover;
}
.header .top .title{
    height: 0.36rem;
    font-size: 0.38rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.40rem;
    letter-spacing: 0.02rem;
    color: #4ebbfe;
    margin: 0 auto;
    text-align: center;
    padding-left: 0.58rem;
}
.header .top .more{
    width: 0.45rem;
}
.header .top .more ul {
    display: flex;
    justify-content: space-between;
}
.header .top .more ul li{
    width: 0.08rem;
    height: 0.08rem;
    border-radius: 50%;
    background-color: #36a8fe;
}
.title{
    padding-left: 0.24rem;
    padding-right: 0.24rem;
    margin-top: 1.49rem;
    margin-bottom: 0.41rem;
}
.title span{
    height: 0.32rem;
    font-size: 0.32rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.4rem;
    letter-spacing: 0.02rem;
}
.title .left>img{
    display: inline-block;
}
.title .left p{
    padding-left: 0.21rem;
    font-size: 0.22rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.32rem;
    letter-spacing: 0.01rem;
    color: #000000;
    opacity: 0.6;
}
.title>img{
    width: 6.84rem;
    height: 3.94rem;
    background-color: #e5e9ec;
    border-radius: 0.1rem;
    margin-left: 0.21rem;
    margin-top: 0.24rem;
}
.title .right{
    float: right;
    width: 1.24rem;
    height: 0.45rem;
    line-height: 0.45rem;
    text-align: center;
    background-image: linear-gradient(90deg, #37e06f 0%, #31d69a 100%),linear-gradient( #3bacfe,#3bacfe);
    background-blend-mode: normal, normal;
    box-shadow: 0 0.01rem 0.1rem 0 rgba(55, 223, 116, 0.75);
    border-radius: 0.23rem;
    font-size: 0.2rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0.01rem;
    color: #ffffff;
}
.info{
    margin-top: 0.6rem;
    padding: 0 0.24rem 0 0.43rem;
}
.info ul li{
    display: flex;
    align-items: center;
}
.info ul li img{
    margin-right: 0.24rem;
}
.info ul li p,.info ul li span{
    line-height: 1rem;
    font-size: 0.26rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0.01rem;
    color: rgba(0,0,0,0.6);

}