body{
    height: 100%;
    width: 100%;
}
/*顶部开始*/
.title{
    width:100%;
    height: 1rem;
    line-height: 1rem;
    display: flex;
    align-items: center;
    padding: 0 0.24rem;
    box-shadow: 0 0 2rem 0.05rem rgba(41,167,255,0.13);
    position: fixed;
    top:0;
    left: 0;
    background: white;
    z-index: 99;
    display: flex;
    justify-content: space-between;
}
.title img{
    width: 0.4rem;
    height: 0.4rem;
    /*margin-left:0.2rem;*/
}
.title h2{
    font-size:0.38rem;
    font-weight: 500;
    /*margin-left:2.3rem;*/
    color:#4ebbfe;
    font-weight:600;
    font-stretch: normal;
    line-height: 0.4rem;
    letter-spacing: 0.02rem;

}
.title .title-rightpic{
    width: 0.31rem;
    height: 0.07rem;
    /*background: yellow;*/
}
.title .title-rightpic img{
    width: 100%;
    height:100%;
    display: block;
}

/*选择收货地址开始*/
.receive{
    width: 100%;
    height: 0.25rem;
    margin-top: 1.46rem;
    /*background: blue;*/
    display: flex;
    justify-content: space-between;
    padding: 0 0.32rem 0 0.22rem;
    font-size: 0.26rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0.01rem;
    color:#979899;
    font-weight: 600;
}
.receive .back{
    width: 0.14rem;
    height: 0.24rem;

}
.receive .back img{
    width: 100%;
    height: 100%;
}

/*选择收货地址结束*/

/*订单开始*/
.order{
    width: 100%;
    height:2.07rem;
    margin-top: 0.61rem;
    padding: 0 0.24rem;
    box-sizing: border-box;
    /*background:yellow;*/
    display: flex;
    background: rgba(41,167,255,0.03);
}
.order .order-left{
    width: 1.74rem;
    height: 1.74rem;
    background: white;
}
.order .order-left img{
    width: 1.19rem;
    height: 1.25rem;
    display: block;
    margin: 0.26rem 0.35rem 0.23rem 0.2rem;

}
.order .order-right{
    width: calc(100% - 2.22rem);
    margin-left: 0.27rem;
}
.order .order-right .dian{
    width: 0.2rem;
    height:0.2rem;
    margin: auto 0;

}
.order .order-right .dian img{
    width: 100%;
    height: 100%;

}
.order .order-right-one{
    font-size: 0.3rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing:0.01rem;
    color: #646666;
    font-weight: 600;
}
.order .order-right-two{
    display: flex;
}
.order .order-right-two .right{
    font-size: 0.26rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #36a8fe;
    font-weight: 600;
}


.order .order-right-three{
    display: flex;
}
.order .order-right-three .right
{
    font-size: 0.22rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0.01rem;
    color: #AFB1B2;
    font-weight: 600;
}
.order .order-right-four{
    display: flex;
    margin-top: 0.46rem;
    /*background: red;*/
}
.order .order-right-four p{
    width: 0.85rem;
    font-size:0.26rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #fbb548;
    line-height: 0.52rem;
    font-weight: 600;
}
.order .order-right-four p span
{
    font-size:0.26rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #fbb548;
    line-height: 0.52rem;
    font-weight: 600;
}

.order .order-right-four .jian
{
    width: 1.18rem;
    height:0.52rem;
    background-color: #E7F6FF;
    border-radius:0.26rem;
    margin-left: 1.01rem;
    text-align: center;
    line-height: 0.52rem;
    color: #3bacfe;
    font-weight: 600;
    font-size: 0.36rem;
}
.order .order-right-four span{
    font-size: 0.26rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #36a8fe;
    padding: 0 0.2rem;
    line-height: 0.52rem;
    font-weight: 600;
}
.order .order-right-four .jia
{
    width: 1.18rem;
    height:0.52rem;
    background-color:  #3bacfe;
    border-radius:0.26rem;
    text-align: center;
    line-height: 0.52rem;
    color: #fff;
    font-weight: 600;
    font-size: 0.36rem;
}
/*订单结束*/

/*优惠券等开始*/

.discount ul
{
    margin-top: 0.44rem;
}
.discount ul li{
    /*background: pink;*/
    padding: 0 0.24rem;
    height: 1.07rem;
    display: flex;
    justify-content: space-between;


}
.discount ul li .left{
    height: 1.07rem;
    display: flex;
}
.discount ul li .left .one{
    width: 0.2rem;
    height: 0.2rem;
    margin:auto 0;
}
.discount ul li .left .two
{
    font-size:0.24rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing:0.01rem;
    color: #8a8c8d;
    line-height: 1.07rem;
}
.discount ul li .left .three
{
    font-size:0.24rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing:0.01rem;
    color: #8a8c8d;
    line-height: 1.07rem;
    padding-left: 0.2rem;
}
.discount ul li .left .one img{
    width: 100%;
    height: 100%;
    display: block;

}
.discount ul li .right {
    display: flex;
}
.discount ul li .right .one{
    font-size: 0.22rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing:0.01rem;
    color: #979899;
    line-height: 1.07rem;
}
.discount ul li .right .two{
    width: 0.14rem;
    height: 0.24rem;
    margin: auto 0.2rem;

}
.discount ul li .right .two img{
    width: 100%;
    height: 100%;
}
/*优惠券等结束*/
/*相机开始*/
.camera{
    width: 100%;
    height:1.27rem;
    /*background:yellow;*/
}
.camera .pic{
    width: 1.01rem;
    height: 1.01rem;
}
.camera .pic img{
    width: 100%;
    height: 100%;
    display: block;
}

/*相机结束*/

/*添加文字描述开始*/
.word{
    width: 100%;
    height: 1.27rem;

}
.word input{
    width: 100%;
    height: 1.27rem;
    outline: none;
    border: none;
    padding: 0.32rem;
    background: rgba(41,167,255,0.03);
}
/*添加文字描述结束*/

/*商品金额开始*/
.shop ul li{
    width: 100%;
    height: 0.85rem;
    /*background: green;*/
    display: flex;
    justify-content: space-between;
    padding: 0 0.24rem;
}
.shop ul li .left{
    /*width: 1.08rem;*/
    /*height: 0.24rem;*/
    display: flex;
}
.shop ul li .left .one {
    width: 0.2rem;
    height: 0.2rem;
    margin:auto 0;
}
.shop ul li .left .one img
{
    width:100%;
    height:100%;

}
.shop ul li .left .two
{
    font-size:0.24rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing:0.01rem;
    color: #8a8c8d;
    line-height:0.85rem;
}
.shop ul li .right p{
    font-size: 0.26rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #8a8c8d;
    line-height:0.85rem;
}
.shop ul li .right p span{
    font-size: 0.26rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #8a8c8d;
    line-height:0.85rem;
}

/*商品金额结束*/


/*底部开始*/
footer{
    width: 7.49rem;
    height:1.07rem;
    background-color: #f1faff;
    display: flex;
    justify-content: space-between;
    padding: 0 0.36rem 0 0.21rem;
}
footer .left{
    display: flex;
}
footer .left .one{
    width: 0.2rem;
    height: 0.2rem;
    margin:auto 0;
}
footer .one img{
    width: 100%;
    height: 100%;
    margin: auto 0;
}
footer .left .he {

    font-size: 0.24rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing:0.13rem;
    line-height: 1.07rem;
    color: #84CBFE;
    font-weight: 600;
}
footer .left .price
{
    font-size:0.36rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #36a8fe;
    line-height: 1.07rem;
    font-weight: 600;

}
footer .left .price span
{
    font-size:0.36rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #36a8fe;
    line-height: 1.07rem;
    font-weight: 600;
}
footer .right{
    width:3.5rem;
    height:0.6rem;
    background-color: #3bacfe;
    box-shadow: 0 0.05rem 0.12rem 0
    rgba(59, 172, 254, 0.43);
    border-radius: 0.3rem;
    margin: auto 0;
    color: #fff;
    font-size: 0.2rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0.01rem;
    text-align: center;
    line-height: 0.6rem;

}
/*底部结束*/

/*优惠券弹出框开始*/
.cover{
    width: 100%;
    height: 4.92rem;
    background-color:yellow;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 0.25rem 0 0.23rem;
    box-shadow:0 0 0.1rem 100rem rgba(0 0 0 0);
    display: none;
}
.cover .top{
    width: 100%;
    height: 1.07rem;
    font-size:0.2rem;
    font-weight: normal;
    font-stretch: normal;
    padding-top: 0.24rem;
    letter-spacing:0.01rem;
    color: #41b2fc;
    text-align: center;
}

.cover .bottom ul li{
    width: 100%;
    height:0.63rem;
    /*background: blue;*/
    display: flex;
    line-height: 0.63rem;
    /*border: 0.01rem solid red;*/
}
.cover .bottom ul li .one{
    width: 0.2rem;
    height: 0.2rem;
    margin: auto 0;
}
.cover .bottom ul li .one img{
    width: 100%;
    height: 100%;
}
.cover .bottom ul li p
{
    font-size: 0.24rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing:0.01rem;
    color: #8a8c8d;
}
.cover .bottom ul li p span
{
    font-size: 0.24rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing:0.01rem;
    color: #8a8c8d;
}
.cover .close{
    width: 7.49rem;
    height: 1.07rem;
    /*background-color: #f1faff;*/
    margin-top: 0.5rem;
}
.cover .close .list{
    width: 4.45rem;
    height:0.6rem;
    background-image: linear-gradient(90deg,
    #37e06f 0%,
    #31d69a 100%),
    linear-gradient(
            #3bacfe,
            #3bacfe);
    background-blend-mode: normal,
    normal;
    box-shadow: 0 0.04rem 0.2rem 0
    rgba(55, 223, 116, 0.75);
    border-radius: 0.3rem;
    margin:0.7rem auto;
    color: #fff;
    text-align: center;
    line-height: 0.6rem;
}
.cover .cuo{
    width:0.24rem;
    height: 0.24rem;
    /*background: red;*/
    position: absolute;
    right:0.25rem;
    top:0.23rem;
}
.cover .cuo img{
    width: 100%;
    height: 100%;
}
/*优惠券弹出框结束*/