.title{
    width:100%;
    height: 1rem;
    line-height: 1rem;
    display: flex;
    align-items: center;
    padding: 0 0.24rem;
}
.title img{
    width: 0.4rem;
    height: 0.4rem;
    margin-left:0.2rem;
}
.title h2{
    font-size:0.36rem;
    font-weight: 500;
    margin-left:2.8rem;
    color:#4ebbfe;
}
.section{
    box-shadow: 0 0.03rem 0.43rem 0
    rgba(41, 167, 255, 0.13);
}
.sousuo{
    width: 100%;
    height: 0.8rem;
    /*background:yellow;*/
    padding: 0 0.24rem;

}
.sousuo .juxin{
    width: 100%;
    height: 0.6rem;
    background-color: #ebf7ff;
    border-radius: 0.3rem;
    border: solid 0.03rem rgba(55, 169, 254, 0.17);
    opacity: 0.58;
    padding-top: 0.05rem;
    padding-left: 0.2rem;
    padding-right: 0.1rem;
    display:flex;
    justify-content: space-between;
}
.sousuo .juxin input{
    border:none;
    outline: none;
    background: #ebf7ff;
    opacity: 0.58;
}
.sousuo .juxin .clicks{
    width: 0.79rem;
    height: 0.44rem;
    background-color: #a4e0bd;
    border-radius: 0.21rem;
}
.sousuo .juxin .clicks img{
    margin-left: 0.2rem;
    margin-top: 0.03rem;
}
.sm-text{
    width: 100%;
    height: 0.32rem;
    margin-top: 0.44rem;
    /*background:pink;*/
    padding: 0 0.2rem;
    display: flex;
}
.content{
    width: 100%;
    height: 1.99rem;
    margin-top: 0.36rem;
    /*background: yellow;*/
    padding: 0 0.24rem;
    display: flex;
}
.content .left{
    width: 1.99rem;
    height: 1.99rem;
    /*background: #4ebbfe;*/
}
.content .left img{
    width: 110%;
    height: 110%;
}
.content .right{
    width: calc(100% - 1.86rem);
    height: 100%;
    padding-left:0.27rem;
    padding-top: 0.2rem;
    /*background: #a4e0bd;*/
}
.content .right .one{
    height: 25%;
    width: 100%;
    /*background: antiquewhite;*/
    display: flex;
    justify-content: space-between;
}
.content .right .two{
    height: 25%;
    width: 100%;
    /*background: antiquewhite;*/
    display: flex;
}
.content .right .two .first{
    display: flex;
    padding-top: 0.1rem;
}
.content .right .two .first img{
    width: 0.2rem;
    height: 0.2rem;
}
.content .right .two .first p{
    font-family: PingFangSC-Semibold;
    font-size: 0.22rem;
    font-weight: bold;
    font-stretch: normal;
    letter-spacing: 0.01rem;
    color: #000000;
    opacity: 0.3;
}
.content .right .two .first .pf{
    font-size: 0.26rem;
    /*margin-left: 0.03rem;*/
    font-family: SanFranciscoDisplay-Bold;
    font-weight: bold;
    font-stretch: normal;
    color: #36a8fe;
    margin-top: -0.03rem;
}
.content .right .two .second{
    margin-left: 0.4rem;
}
.content .right .three{
    height: 25%;
    width: 100%;
    /*background: antiquewhite;*/
    display: flex;
}
.content .right .three img{
    width: 0.25rem;
    height: 0.25rem;
    margin-top: 0.12rem;
}
.content .right .three .time{
    font-family: "苹方";
    font-size: 0.2rem;
    font-weight: bold;
    font-stretch: normal;
    letter-spacing: 0.01rem;
    margin-top: 0.09rem;
    margin-left: 0.06rem;
    color: #a4e0bd;
}
.content .right .three .block{
    margin-left: 0.09rem;
}
.content .right .four{
    height: 25%;
    width: 100%;
    /*background: antiquewhite;*/
    display: flex;
    position: relative;
}
.content .right .four .first p{
    font-size: 0.18rem;
}
.content .right .four .first .yue{
    width: 2.04rem;
    height: 0.35rem;
    background-color: #e7f6ff;
    border-radius: 0.17rem;
    display: flex;
}
.content .right .four .first .yue p{
    font-family: PingFangSC-Semibold;
    font-size: 0.2rem;
    /*font-weight: normal;*/
    font-stretch: normal;
    letter-spacing: 0.01rem;
    color: #3bacfe;
    opacity: 1;
    margin-left: 0.15rem;
    line-height: 0.35rem;
}
.content .right .four .first .yy{
    width: 1.24rem;
    height: 0.45rem;
    background-color: #3bacfe;
    box-shadow: 0 0.05rem 0.12rem 0
    rgba(59, 172, 254, 0.43);
    border-radius: 0.22rem;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 0.45rem;
}
.content .right .four .first .yy p{
    font-family: PingFangSC-Semibold;
    font-size: 0.2rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0.01rem;
    color: white;
    opacity: 1;
}
.click{
    width: 100%;
    height: 1.43rem;
    /*background: #a4e0bd;*/
    padding-top: 0.47rem;
    display:flex;
}


.click .click-one{
    width: 1.5rem;
    height: 0.52rem;
    background: #e7f6ff;
    border-radius: 0.26rem;
    margin-left: 1.3rem;
}
.click .boxactive{
     box-shadow: 0px 5px 12px 0px
     rgba(59, 172, 254, 0.43);
     background: #3bacfe;
 }
.click .click-two{
    margin-left: 0.45rem;
}
.click .click-one .add{
    text-align: center;
    line-height: 0.52rem;
    color: #3bacfe;
    font-weight: bold;
}
.click .click-one .active{
    color: white;
}
footer{
    width: 100%;
    height: calc(100% - 5.58rem);
    overflow: scroll;
    position: fixed;
    top:5.9rem;
    left: 0;

}
.tclick{
    width: 100%;
    height: 0.68rem;
    background-color: #3bacfe;
}
.footers{
    margin-top: -0.3rem;
    display: none;

}
.tclick ul{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 0.24rem;
}
.tclick ul li{
    width: 25%;
    height: 100%;
    list-style: none;
    /*background: red;*/
    text-align: center;
    line-height: 0.68rem;
    color: white;
    position: relative;
}
.libottom{
    border-bottom: 0.05rem solid white;
}
.tclick ul li .sjx1{
    position: absolute;
    bottom: -0.29rem;
    left: 0;
    right: 0;
    display: none;
}
.footer1 .list1{
    position: absolute;
    top:0.68rem;
    left: 0;
    display: none;
}
.contents{
    width: 100%;
    height: 1.99rem;
    margin-top: 0.36rem;
    background: white;
    padding: 0 0.24rem;
    display: flex;
}
.contents .left{
    width: 2.19rem;
    height: 2.09rem;
    /*background: #4ebbfe;*/
}
.contents .left img{
    width: 110%;
    height: 110%;
}
.contents .right{
    width: calc(100% - 1.86rem);
    height: 100%;
    padding-left:0.27rem;
    padding-top: 0.2rem;
    /*background: #a4e0bd;*/
}
.contents .right .one{
    height: 25%;
    width: 100%;
    /*background: antiquewhite;*/
    display: flex;
    justify-content: space-between;
}
.contents .right .two{
    height: 25%;
    width: 100%;
    /*background: antiquewhite;*/
    display: flex;
}
.contents .right .two .first{
    display: flex;
    padding-top: 0.1rem;
}
.contents .right .two .first img{
    width: 0.2rem;
    height: 0.2rem;
    margin-left: -0.05rem;
}
.contents .right .two .first p{
    font-family: PingFangSC-Semibold;
    font-size: 0.22rem;
    font-weight: bold;
    font-stretch: normal;
    letter-spacing: 0.01rem;
    color: #000000;
    opacity: 0.3;
}
.contents .right .two .first .pf{
    font-size: 0.26rem;
    margin-left: 0.12rem;
    font-family: SanFranciscoDisplay-Bold;
    font-weight: bold;
    font-stretch: normal;
    color: #36a8fe;
    margin-top: -0.04rem;
}
.contents .right .two .second{
    margin-left: 0.5rem;
}
.contents .right .three{
    height: 25%;
    width: 100%;
    /*background: antiquewhite;*/
    display: flex;
}
.contents .right .three .hui{
    font-family: PingFangSC-Semibold;
    font-size: 0.22rem;
    font-weight: bold;
    font-stretch: normal;
    line-height: 0.32rem;
    letter-spacing: 0.01rem;
    color: #c2c4c5;
}
.contents .right .four{
    height: 25%;
    width: 100%;
    /*background: antiquewhite;*/
    display: flex;
    padding-top: 0.1rem;
    position: relative;
}
.contents .right .four .first{
    width: 100%;
}
.contents .right .four .first p{
    font-size: 0.18rem;
}
.contents .right .four .first .pf{
    font-size: 0.18rem;
    color: #e0e2e3;
    margin-top: 0;
}
.four-one h3{
    position: absolute;
    top: 0.1rem;
    right: 0;
}











.All{
    width: 100%;
    height:auto;
    background: #fff;
    position: relative;
}
.secAll{
    width: 100%;
    height: auto;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.sec_all{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0.68rem;
    left: 0;
    background: #fff;
    display: none;
}
.sec_detail{
    width: 100%;
    height: 1.97rem;
    margin-bottom: 0.32rem;
}
.det_left{
    width: 1.97rem;
    height: 1.97rem;
    background: #fff;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.det_left img{
    width: 1.47rem;
    height: 1.47rem;
}
.det_right{
    width: 5rem;
    height: 1.97rem;
    padding-left: 0.28rem;
    box-sizing: border-box;
    float: left;
}
.det_right1{
    width: 5rem;
    height: 0.6rem;
    font-size: 0.3rem;
    font-weight: bold;
    font-family: PingFangSC;
    line-height: 0.6rem;
    color: #646666;
}
.det_right2{
    width: 5rem;
    height: 0.41rem;
    font-size: 0.22rem;
    font-weight: bold;
    font-family: PingFangSC;
    padding-bottom: 0.08rem;
    border-bottom: 0.01rem solid #f0f5f7;
    color: #afb1b2;
}
.det_right3{
    width: 5rem;
    height: 0.55rem;
}
.det_right3_le{
    width: 2.83rem;
    height: 0.55rem;
    float: left;
}
.det_ri3_le_le{
    width: 1.31rem;
    height: 0.55rem;
    float: left;
}
.le_le_pot{
    width: 0.05rem;
    height: 0.05rem;
    border-radius: 50%;
    background: #44b5ff;
    box-shadow: 0 0.02rem 0.04rem 0.001rem #98cdf5;
    margin-top: 0.25rem;
    float: left;
}
.le_le_pot1{
    width: 0.05rem;
    height: 0.05rem;
    border-radius: 50%;
    background: #36d681;
    box-shadow: 0 0.02rem 0.04rem 0.001rem #d4f6e6;
    margin-top: 0.25rem;
    float: left;
}
.le_le_word{
    width: 0.45rem;
    height: 0.55rem;
    font-size: 0.2rem;
    font-weight: bold;
    font-family: PingFangSC;
    color: #afb1b2;
    line-height: 0.55rem;
    margin-left: 0.1rem;
    float: left;
}
.le_le_num{
    width: 0.4rem;
    height: 0.55rem;
    font-size: 0.24rem;
    font-weight: bold;
    font-family: San Francisco Display;
    color: #36a8fe;
    float: left;
    line-height: 0.55rem;
    margin-left: 0.1rem;
}
.le_le_num span{
    color: #b9e1ff;
    font-size: 0.2rem;
}
.det_ri3_le_ri{
    width: 1.3rem;
    height:  0.55rem;
    float: right;
}
.det_right3_ri{
    width: 1.4rem;
    height: 0.55rem;
    float: right;
    font-size: 0.26rem;
    color: #fbb548;
    font-family: PingFangSC;
    font-weight: bold;
    margin-top: 0.06rem;
}
.det_right4{
    width: 100%;
    height: 0.25rem;
}
.det_right4 img{
    width: 0.28rem;
    height: 0.28rem;
    float: left;
}
.det_right4 span{
    width: 0.8rem;
    height: 0.26rem;
    color: #cfcfcf;
    font-size: 0.2rem;
    font-family: PingFangSC;
    line-height: 0.26rem;
    float: left;
    margin-left: 0.1rem;
}
.commitAll{
    width: 100%;
    height: 6rem;
    position: absolute;
    top: 0.7rem;
    left: 0;
}
.commit{
    width: 100%;
    height: 2.28rem;
    background: #fbfeff;
    padding: 0 0.24rem;
    box-sizing: border-box;
    border-bottom: 0.01rem solid #f0f5f7;
    margin-top: 0.25rem;
}
.sec_le{
    width: 0.85rem;
    height: 2.28rem;
    float: left;
}
.sec_le img{
    width: 0.85rem;
    height: 0.85rem;
    margin-top: 0.31rem;
}
.sec_ri{
    width:6.16rem;
    height: 2.28rem;
    padding-left: 0.22rem;
    box-sizing: border-box;
    float: left;
}
.sec_ri img{
    width: 1.85rem;
    height: 1rem;
}
.sec_ri_word1{
    width: 5.94rem;
    height: 0.5rem;
    margin-top: 0.44rem;
    font-size: 0.2rem;
    color: #cfcfcf;
    line-height: 0.5rem;
}
.word1_ri{
    float: right;
    color: #9ed5ff;
    font-size: 0.2rem;
    line-height: 0.5rem;
}
.sec_ri_word2{
    height: 0.44rem;
    line-height: 0.44rem;
    font-size: 0.26rem;
    color: #646666;
    font-weight: bold;
}
.sec_ri_word3{
    height: 0.43rem;
    line-height: 0.43rem;
    font-size: 0.22rem;
    color: #d6d8d9;
    font-weight: bold;
}
.sec_ri_word4{
    height: 0.48rem;
}
.sec_ri_word4 img{
    width: 0.46rem;
    height: 0.44rem;
    float: right;
    margin-left: 0.5rem;
}
.navCommit{
    width: 100%;
    height: 1.02rem;
    background: #fff;
    box-shadow: 0 0.1rem 0.5rem 0.008rem #ecf8ff;
}
.navCommit ul{
    width:7.14rem;
    height: 0.78rem;
    margin: 0.13rem auto;
}
.navCommit li{
    width: 1.42rem;
    height: 0.78rem;
    float: left;
    font-size: 0.2rem;
    color: #b3dfff;
    text-align: center;
    font-weight: bold;
    line-height: 0.78rem;
    box-sizing: border-box;
}
.navSec_all{
    width: 100%;
    height: 0.68rem;
    background: #3bacfe;
}
.navSec_all ul{
    width: 6.8rem;
    height: 0.68rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navSec_all li{
    width: 1.39rem;
    height: 0.68rem;
    color: #b1deff;
    font-weight: bold;
    line-height: 0.68rem;
    text-align: center;
    font-size: 0.2rem;
    position: relative;
    box-sizing: border-box;
}
.threeJan{
    height: 0.34rem;
    font-size: 0.1rem;
    color: #fff;
    position: absolute;
    bottom:0.01rem ;
    left: 0.64rem;
    display: none;
}
